<extend name="Common/common"/>
<block name="css">
    <link rel="stylesheet" href="__CSS_PATH__/item_box.css">
</block>
<block name="body">
    <form class="layui-form xbs" action="{:U('TopLine/goodsList')}" name="search">
        <div class="layui-form-pane">
            <div class="layui-form-item" style="display: inline-block;">
                <div class="layui-input-inline">
                    <button class="layui-btn" style="background-color: rgba(0,0,0,0.4)"
                            data-url="{:U('Sale/selectItems',array('type'=>'top_line'))}"
                            onclick="x_admin_show('选择商品',$(this).data('url'),'90%','96%')" type="button">选择商品
                    </button>
                </div>
                <div class="layui-input-inline">
                    <input type="text" name="keyword" placeholder="请输入商品关键字" autocomplete="off"
                           class="layui-input" value="{:I('get.keyword')}">
                </div>
                <div class="layui-input-inline">
                    <input type="text" name="shop_goods_id" placeholder="请输入商品编号" autocomplete="off"
                           class="layui-input" value="{:I('get.shop_goods_id')}">
                </div>
                <div class="layui-input-inline">
                    <input type="text" name="time" class="layui-input" placeholder="请选择时间范围" id="time"
                           value="{$time}">
                </div>
                <div class="layui-input-inline" style="width:80px">
                    <input type="hidden" name="media_id" id="media_id" value="{:I('get.media_id')}">
                    <button class="layui-btn" style="background-color: rgba(0,0,0,0.4)"><i class="layui-icon">
                        &#xe615;</i></button>
                </div>
            </div>
        </div>
    </form>
    <xblock>
        <php>$cate = C('ARTICLE_CATE');</php>
        <button data-id=""
        <if condition="I('get.media_id')">class="layui-btn layui-btn-sm item-cate default-bgcolor"
            <else/>
            class="layui-btn layui-btn-sm item-cate"
        </if>
        >全部</button>
        <foreach name="cate" item="row" key="k">
            <button data-id="{$k}"
            <if condition="I('get.media_id') neq $k">class="layui-btn layui-btn-sm item-cate default-bgcolor"
                <else/>
                class="layui-btn layui-btn-sm item-cate"
            </if>
            >{$row}</button>
        </foreach>
    </xblock>
    <notEmpty name="data">
        <xblock>
            <div class="layui-row">
                <include file="Common/top_line_item"/>
            </div>
            {$page}
        </xblock>
    </notEmpty>
</block>
<block name="js">
    <script type="text/javascript" src="__JS_PATH__/jquery-ui.min.js"></script>
    <script type="text/javascript">
        form.render();
        //日期时间范围
        laydate.render({
            elem: '#time'
            , type: 'date'
            , range: '~'
        });
        flow.lazyimg();
        $('.item-cate').click(function () {
            $('#media_id').val($(this).data('id'));
            $('form[name=search]').submit();
        });
        $('body').on('click', '.add-goods', function () {
            x_admin_show($(this).data('title'), $(this).data('url'), "60%", "80%")
        })
    </script>
</block>