<extend name="Common/common"/>
<block name="css">
    <style>
        a {
            color: #fff;
        }

        a:hover {
            color: rgba(255, 255, 255, 0.7);
        }

        img{
            text-align: center;
        }
    </style>
</block>
<block name="body">
    <fieldset class="layui-elem-field">
        <legend>图集页面地址:<a href="{$location_url}" target="_blank">{$title}</a></legend>
        <div class="layui-field-box">
            <volist name="data" id="row">
                <h3>商品标题：{$row.title}</h3>
                <p>商品描述：<a href="{$row.url}">{$row.desc}</a></p>
                <p>商品链接：<a href="{$row.goods_url}">{$row.goods_url}</a></p>
                <p>商品价格：<span style="color: #FF5722;margin-right: 200px">{$row.price}</span> 商品平台：<span
                        style="color: #1E9FFF;">{$row.shop_type_name}</span>
                </p>
                <div style="width: 200px;margin: 10px auto">
                    <img src="{$row.img}" style="width: 200px"/>
                </div>
                <hr class="layui-bg-green">
            </volist>
        </div>
    </fieldset>
</block>
