<extend name="Common/common"/>
<block name="css">
    <link rel="stylesheet" href="__CSS_PATH__/item_box.css">
</block>
<block name="body">
    <form class="layui-form xbs" action="{:U('Item/commissionList')}" name="search">
        <div class="layui-form-pane">
            <div class="layui-form-item" style="display: inline-block;">
                <div class="layui-input-inline" style="width: 500px">
                    <input type="text" name="keyword" placeholder="请输入商品关键字" autocomplete="off"
                           class="layui-input" value="{:I('get.keyword')}">
                </div>
                <div class="layui-input-inline" style="width:80px">
                    <button class="layui-btn" style="background-color: rgba(0,0,0,0.4)"><i class="layui-icon">
                        &#xe615;</i></button>
                </div>
            </div>
        </div>
    </form>
    <notEmpty name="data">
        <xblock>
            <div class="layui-row">
                <include file="Common/sale_item"/>
            </div>
            {$page}
        </xblock>
    </notEmpty>
</block>
<block name="box">
    <include file="Common/footer_item_box"/>
</block>
<block name="js">
    <script type="text/javascript" src="__JS_PATH__/jquery-ui.min.js"></script>
    <script type="text/javascript" src="__JS_PATH__/top_line_item.js"></script>
    <script type="text/javascript">
        form.render();
        //日期时间范围
        flow.lazyimg();
        $(".img").hover(function () {
            $(this).find('.img-vice').show();
        }, function () {
            $(this).find('.img-vice').hide();
        });
    </script>
</block>