<extend name="Common/common"/>
<block name="body">
    <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header"><i class="layui-icon">&#xe606;</i> 待确认订单</div>
                    <div class="layui-card-body">
                        用户已下单，等待审核的订单
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header"><i class="layui-icon">&#xe606;</i> 待拍单订单</div>
                    <div class="layui-card-body">
                        已审核订单，等待去供货商下单订单
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header"><i class="layui-icon">&#xe606;</i> 待发货订单</div>
                    <div class="layui-card-body">
                        已在供货商下单，等待发货的订单
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>
    </script>
</block>