<extend name="Common/common"/>
<block name="body">
    <form class="layui-form xbs" action="{:U('Order/orderCount')}">
        <div class="layui-form-pane">
            <div class="layui-form-item">
                <label class="layui-form-label">选择时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="time" class="layui-input" placeholder="请选择时间范围" id="time"
                           value="{:I('get.time','','urldecode')}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">选择用户</label>
                <div class="layui-input-block">
                    <foreach name="user_data" item="name" key="user_id">
                        <if condition="in_array($user_id,$user_ids)">
                            <input type="checkbox" name="user_id[]" title="{$name}" value="{$user_id}"
                                   checked="checked">
                            <else/>
                            <input type="checkbox" name="user_id[]" title="{$name}" value="{$user_id}">
                        </if>
                    </foreach>
                </div>
            </div>
            <div class="layui-input-inline" style="width:80px">
                <button class="layui-btn" style="background-color: rgba(0,0,0,0.4)" name="btn" value="select"><i
                        class="layui-icon">
                    &#xe615;</i></button>
            </div>
            <div class="layui-input-inline" style="width:80px">
                <button class="layui-btn" name="btn" value="down">下载</button>
            </div>
        </div>
    </form>
    <table class="layui-table">
        <colgroup>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>商品标题</th>
            <th width="10%">用户名称</th>
            <th width="10%">出单数量</th>
            <th width="10%">总佣金</th>
            <th width="20%">店铺名称</th>
        </tr>
        </thead>
        <tbody>
        <volist name="data" id="vo">
            <tr>
                <td><a href="{$vo.commodity_info}" target="_blank" style="color: #fff">{$vo.commodity_name}</a></td>
                <td>{$vo.name}</td>
                <td>{$vo.num}</td>
                <td>{$vo.commission}</td>
                <td>{$vo.shop_name}</td>
            </tr>
        </volist>
        </tbody>
    </table>
</block>
<block name="js">
    <script>
        form.render();
        //日期时间范围
        laydate.render({
            elem: '#time'
            , type: 'date'
            , range: '~'
            , max: 1
        });

    </script>
</block>
