<extend name="Common/common"/>
<block name="body">
    <fieldset class="layui-elem-field">
        <legend>总业绩</legend>
        <div class="layui-field-box">
            <table class="layui-table">
                <colgroup>
                    <col>
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th style="text-align: center">当月预估奖励总额</th>
                    <th style="text-align: center">当月结算奖励总额</th>
                    <th style="text-align: center">上月预估奖励总额</th>
                    <th style="text-align: center">上月结算奖励总额</th>
                </tr>
                </thead>
                <tbody>
                <tr style="text-align: center">
                    <td>¥{$month_money}</td>
                    <td>¥{$month_settle_money}</td>
                    <td>¥{$pro_month_money}</td>
                    <td>¥{$pro_month_settle_money}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
    <fieldset class="layui-elem-field">
        <legend>当月预估奖励业绩排行</legend>
        <div class="layui-field-box">
            <table class="layui-table">
                <colgroup>
                    <col>
                    <volist name="month_data" id="row">
                        <col>
                    </volist>
                </colgroup>
                <thead>
                <tr>
                    <th>姓名</th>
                    <volist name="month_data" id="vo">
                        <th>{$vo.name}</th>
                    </volist>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>总业绩</td>
                    <volist name="month_data" id="vo">
                        <td>{$vo.money}</td>
                    </volist>
                </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
    <eq name="group_id" value="1">
        <fieldset class="layui-elem-field">
            <legend>当月结算奖励业绩排行</legend>
            <div class="layui-field-box">
                <table class="layui-table">
                    <colgroup>
                        <col>
                        <volist name="month_settle_data" id="row">
                            <col>
                        </volist>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>姓名</th>
                        <volist name="month_settle_data" id="vo">
                            <th>{$vo.name}</th>
                        </volist>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>总业绩</td>
                        <volist name="month_settle_data" id="vo">
                            <td>{$vo.money}</td>
                        </volist>
                    </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </eq>
    <fieldset class="layui-elem-field">
        <legend>上月预估奖励业绩排行</legend>
        <div class="layui-field-box">
            <table class="layui-table">
                <colgroup>
                    <col>
                    <volist name="pro_month_data" id="row">
                        <col>
                    </volist>
                </colgroup>
                <thead>
                <tr>
                    <th>姓名</th>
                    <volist name="pro_month_data" id="vo">
                        <th>{$vo.name}</th>
                    </volist>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>总业绩</td>
                    <volist name="pro_month_data" id="vo">
                        <td>{$vo.money}</td>
                    </volist>
                </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
    <eq name="group_id" value="1">
        <fieldset class="layui-elem-field">
            <legend>上月结算奖励业绩排行</legend>
            <div class="layui-field-box">
                <table class="layui-table">
                    <colgroup>
                        <col>
                        <volist name="pro_month_settle_data" id="row">
                            <col>
                        </volist>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>姓名</th>
                        <volist name="pro_month_settle_data" id="vo">
                            <th>{$vo.name}</th>
                        </volist>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>总业绩</td>
                        <volist name="pro_month_settle_data" id="vo">
                            <td>{$vo.money}</td>
                        </volist>
                    </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </eq>
</block>