<extend name="Common/common"/>
<block name="body">
    <fieldset class="layui-elem-field">
        <legend>商品抓取-总{$count}条数据</legend>
        <div class="layui-field-box">
            <form class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        小店账号
                    </label>
                    <div class="layui-input-inline">
                        <select name='shop_id'>
                            <option value=" ">请选择小店</option>
                            <foreach name="name" item="row" key="k">
                                <option value='{$k}'>{$row}</option>
                            </foreach>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        佣金比率
                    </label>
                    <div class="layui-input-inline" style="width:300px;">
                        <input type="number" name="cos_fee" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-row"
                     style="width: 500px;height: 260px;overflow-y: scroll;border: 1px solid #ccc;margin-left: 40px;color:#fff;padding: 5px 10px"
                     id="ajax-content">
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">
                    </label>
                    <button class="layui-btn layui-btn-danger" id="stop" type="button">
                        停止
                    </button>
                    <button class="layui-btn" lay-submit lay-filter="collection" id="start" type="submit">
                        立即采集
                    </button>
                </div>
            </form>
        </div>
    </fieldset>
</block>
<block name="js">
    <script type="text/javascript">
        form.render();
        var status = 0;
        var url = "{:U('Shop/ajaxItemCollection')}";
        var page = 1;
        //监听提交
        form.on('submit(collection)', function (data) {
            if (!$.trim(data.field.shop_id)) {
                layer.msg('请选择小店账号！');
                return false;
            }
            var shop_name = $('select[name=shop_id] option:selected').text();
            $('#ajax-content').html("<p>" + shop_name + "<p><p>商品同步开始</p>");
            $(this).addClass('layui-disabled').text('正在采集中……');
            status = 1;
            getOrder(data.field);

            return false;
        });

        function getOrder(param) {
            if (status == 1) {
                param.page = page;
                $.post(url, param, function (res) {
                    if (res.info == 'success') {
                        $('#ajax-content').append("<p>商品已采集完成<p>");
                        $('#ajax-content').scrollTop($('#ajax-content')[0].scrollHeight);
                    } else {
                        $('#ajax-content').append("<p>" + res.info + "<p>");
                    }
                    if (res.status == 1) {
                        $('#ajax-content').scrollTop($('#ajax-content')[0].scrollHeight);
                        page++;
                        getOrder(param);
                    } else {
                        if (res.info != 'success') {
                            layer.msg(res.info);
                        } else {
                            page = 1;
                        }
                        $('#start').removeClass('layui-disabled').text('立即采集');
                    }
                });
            } else {
                $('#ajax-content').append("<br>已停止<br>");
                $('#ajax-content').scrollTop($('#ajax-content')[0].scrollHeight);
            }
        }

        $('#stop').click(function () {
            if (status == 1) {
                status = 0;
                $('#start').removeClass('layui-disabled').text('立即采集');
            }
        });
    </script>
</block>