<extend name="Common/common"/>
<block name="body">
    <eq name="group_id" value="1">
        <form class="layui-form xbs" action="">
            <div class="layui-form-pane">
                <div class="layui-input-inline">
                    <select name="user_id">
                        <option value="0">请选择用户</option>
                        <foreach name="user_data" item="row" key="k">
                            <option value="{$row.id}"
                            <if condition="I('get.user_id') eq $row['id']">selected</if>
                            >{$row.name}</option>
                        </foreach>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select name="news_type">
                        <option value="0">请选择类型</option>
                        <option value="1"
                        <if condition="I('get.news_type') eq 1">selected</if>
                        >图集</option>
                        <option value="2"
                        <if condition="I('get.news_type') eq 2">selected</if>
                        >专辑</option>
                    </select>
                </div>
                <div class="layui-input-inline" style="width:80px">
                    <button class="layui-btn" style="background-color: rgba(0,0,0,0.4)"><i class="layui-icon">
                        &#xe615;</i></button>
                </div>
            </div>
        </form>
    </eq>
     <hr>
    <div class="layui-input-inline" style="width: 800px">
        <input type="text" name="title" placeholder="请输入文章标题" autocomplete="off"
               class="layui-input" value="{:I('get.title')}" id="title">
    </div>
    <div class="layui-input-inline">
        <button class="layui-btn check-title" data-type="1">检测</button>
    </div>
    <table class="layui-table">
        <colgroup>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col width="300">
        </colgroup>
        <thead>
        <tr>
            <th>文章标题</th>
            <th>文章数量</th>
            <th>文章领域</th>
            <th>文章类型</th>
            <th>发布账号</th>
            <th>发布人</th>
            <th>时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <volist name="data" id="vo">
            <tr>
                <td>
                    <if condition="($vo['is_send'] eq 0) AND ($vo['is_save'] eq 0)">
                        <a href="javascript:;" class="update-news-info" data-id="{$vo.id}" data-title="{$vo.title}"
                           style="color: #fff">{$vo.title}</a>
                        <else/>
                        <a href="javascript:;" class="news-info"
                           data-url="{:U('Sale/newsInfo',array('id'=>$vo['id']))}"
                           style="color: #fff"
                           data-title="预览文章"
                           onclick="x_admin_show($(this).data('title'),$(this).data('url'),'50%','95%')">{$vo.title}</a>
                    </if>
                     <div class="layui-btn layui-btn-xs check-title"
                         data-title="{$vo.title}" data-type="2">检测
                    </div>
                </td>
                <td>
                    <php>echo count(json_decode($vo['json_content']));</php>
                </td>
                <td>{$classify_data[$vo['classify']]}</td>
                <td>
                    <eq name="vo.news_type" value="1">
                        <div class="layui-btn layui-btn-xs layui-disabled">图集</div>
                        <else/>
                        <div class="layui-btn layui-btn-normal layui-btn-xs layui-disabled">专辑</div>
                    </eq>
                </td>
                <td>{$account[$vo['account_id']]['username']}</td>
                <td>{$vo.username}</td>
                <td>
                    <if condition="$vo['send_time']">
                        {$vo.send_time}<br>
                        <else/>
                        未设置定时发布<br>
                    </if>
                    {$vo.add_time|date="Y-m-d H:i:s",###}
                </td>
                <td>
                    <if condition="$vo['is_send'] eq 0">
                        <eq name="vo['is_save']" value="1">
                            <a class="layui-btn layui-btn-sm layui-disabled">已存稿</a>
                            <else/>
                            <a class="layui-btn layui-btn-sm figure"
                               data-url="{:U('Sale/figure',array('id'=>$vo['id']))}"
                               href="javascript:;">存草稿</a>
                        </eq>
                    </if>
                <!--    <eq name="group_id" value="1">
                        <a class="layui-btn layui-btn-sm layui-btn-normal add-cart" href="javascript:;"
                           data-url="{:U('copyCart',array('id'=>$vo['id']))}">加入选品库</a>
                    </eq>-->
                    <a class="layui-btn layui-btn-sm layui-btn-normal add-cart" href="javascript:;"
                       data-url="{:U('copyCart',array('id'=>$vo['id']))}">加入选品库</a>
                    <if condition="$vo['news_type'] eq 1">
                        <a class="layui-btn layui-btn-sm layui-btn-warm news-info" href="javascript:;"
                           data-url="{:U('Sale/newsInfo',array('id'=>$vo['id']))}"
                           data-title="预览文章"
                           onclick="x_admin_show($(this).data('title'),$(this).data('url'),'50%','95%')">预览</a>
                        <else/>
                        <a class="layui-btn layui-btn-sm layui-btn-warm"
                           href="{:U('Sale/updateArticleTitle',array('id'=>$vo['id']))}">
                            <if condition="($vo['is_save'] eq 1) OR ($vo['is_send'] eq 1)">
                                查看
                                <else/>
                                编辑
                            </if>
                        </a>
                    </if>
                    <if condition="($vo['is_send'] eq 0) AND ($vo['is_save'] eq 0)">
                        <a class="layui-btn layui-btn-sm layui-btn-danger news-del" href="javascript:;"
                           data-url="{:U('Sale/newsDel',array('id'=>$vo['id']))}">删除</a>
                    </if>
                </td>
            </tr>
        </volist>
        </tbody>
    </table>
    {$page}
</block>
<block name="box">
    <div id="update-title-box" style="display: none;padding:20px;">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">文章标题</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入文章标题" id="update-title" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <div class="layui-input-block">
                    <input type="hidden" name="id" id="news-id"/>
                    <button class="layui-btn" id="save-title" type="button">修改</button>
                </div>
            </div>
        </form>
    </div>
</block>
<block name="js">
    <script type="text/javascript">
        form.render();
        $('.update-news-info').click(function () {
            var _this = $(this);
            $('#news-id').val(_this.data('id'));
            $('#update-title').val(_this.data('title'));
            layer.open({
                type: 1,
                area: ['50%', '40%'],
                fix: false, //不固定
                maxmin: true,
                shadeClose: true,
                shade: 0.4,
                title: '修改文章标题',
                content: $('#update-title-box'),
                cancel: function () {
                    $('#update-title-box').hide();
                }
            });
        })

        $('.check-title').click(function () {
            var type = $(this).data('type');
            if (type == 1) {
                var title = $('#title').val();
            } else {
                var title = $(this).data('title')
            }
            $.get("{:U('checkTitle')}", {title: title}, function (res) {
                layer.msg(res.info, {time: 3000});
            });
        })

        $('#save-title').click(function () {
            var _this = $(this);
            var title = $('#update-title').val();
            var id = $('#news-id').val();
            if (!title) {
                layer.msg('请输入文章标题');
                return false;
            }
            _this.addClass('layui-disabled');
            $.post("{:U('TopLine/updateNews')}", {id: id, title: title}, function (res) {
                layer.msg(res.info);
                if (res.status == 1) {
                    layer.msg(res.info, function () {
                        window.location.reload();
                    })
                } else {
                    layer.msg(res.info);
                    _this.removeClass('layui-disabled');
                }
            });
        })
        $('.figure').click(function () {
            var is_click = 1;
            var _this = $(this);
            var url = $(this).data('url');
            layer.confirm('确认要将此文章存草稿吗？', {
                btn: ['确定', '取消']//按钮
            }, function () {
                if (is_click == 0) {
                    layer.msg('正在请求中……，请勿重复点击！');
                } else {
                    is_click = 0;
                    _this.addClass('layui-disabled');
                    $.get(url, {}, function (res) {
                        if (res.status == 1) {
                            layer.msg(res.info, function () {
                                window.location.reload();
                            })
                        } else {
                            is_click = 1;
                            layer.msg(res.info);
                            _this.removeClass('layui-disabled');
                        }
                    })
                }
            });
        });
        $('.add-cart').click(function () {
            var is_click = 1;
            var _this = $(this);
            var url = $(this).data('url');
            layer.confirm('确认要将此文章中的商品加入选品库吗？', {
                btn: ['确定', '取消']//按钮
            }, function () {
                if (is_click == 0) {
                    layer.msg('正在请求中……，请勿重复点击！');
                    return false;
                } else {
                    is_click = 0;
                    _this.addClass('layui-disabled');
                    $.get(url, {}, function (res) {
                        layer.msg(res.info);
                        is_click = 1;
                        _this.removeClass('layui-disabled');
                    })
                }
            });
        })
        $('.publish').click(function () {
            var is_click = 1;
            var _this = $(this);
            var url = $(this).data('url');
            layer.confirm('确认要将此文章发布吗？', {
                btn: ['确定', '取消']//按钮
            }, function () {
                if (is_click == 0) {
                    layer.msg('正在请求中……，请勿重复点击！');
                } else {
                    is_click = 0;
                    _this.addClass('layui-disabled');
                    $.get(url, {}, function (res) {
                        if (res.status == 1) {
                            layer.msg(res.info, function () {
                                window.location.reload();
                            })
                        } else {
                            is_click = 1;
                            layer.msg(res.info);
                            _this.removeClass('layui-disabled');
                        }
                    })
                }
            });
        })
        $('.news-del').click(function () {
            var is_click = 1;
            var _this = $(this);
            var url = $(this).data('url');
            layer.confirm('确认要将此文章删除吗？', {
                btn: ['确定', '取消']//按钮
            }, function () {
                if (is_click == 0) {
                    layer.msg('正在请求中……，请勿重复点击！');
                    return false;
                } else {
                    is_click = 0;
                    _this.addClass('layui-disabled');
                    $.get(url, {}, function (res) {
                        if (res.status == 1) {
                            layer.msg(res.info, function () {
                                window.location.reload();
                            })
                        } else {
                            is_click = 1;
                            layer.msg(res.info);
                            _this.removeClass('layui-disabled');
                        }
                    })
                }
            });
        })
    </script>
</block>