<extend name="Common/layer"/>
<block name="body">
    <!-- 右侧内容框架，更改从这里开始 -->
    <form class="layui-form">
        <div class="layui-form-item">
            <volist name="auth_list" id="vo">
                <if condition="in_array($vo['id'],$user_auth)">
                    <input type="checkbox" name="auth_id[]" title="{$vo.name}" value="{$vo.id}" checked="checked">
                    <else/>
                    <input type="checkbox" name="auth_id[]" title="{$vo.name}" value="{$vo.id}">
                </if>
            </volist>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
            </label>
            <input type="hidden" name="id" value="{$id}">
            <button class="layui-btn" lay-filter="auth" lay-submit="auth" type="submit">
                授权
            </button>
        </div>
    </form>
    <!-- 右侧内容框架，更改从这里结束 -->
</block>
<block name="js">
    <script type="text/javascript">
        form.render();
        //监听提交
        form.on('submit(auth)', function (data) {
            var _this = $(this);
            _this.attr('disabled', true);
            var url = "{:U('User/userAuth')}";
            $.post(url, data.field, function (res) {
                if (res.status == 1) {
                    layer.msg(res.info, function () {
                        window.parent.location.href = "{:U('User/index')}"
                    });
                } else {
                    _this.removeAttr('disabled');
                    layer.msg(res.info);
                }
            });
            return false;
        });
    </script>
</block>